html,body{
    height: 100%;
    background: #f0f0f0;
}
.order_content{
    margin: 10px auto;
}
.order_content .sift{
    background: #fff;
}
.sift_content{
    padding: 10px 0 0;
    height: 240px;
    overflow: hidden;
    transition: all 0.8s ;
}
body .sift_hidden{
    height: 0;
    padding: 0;
    overflow: hidden
}
.sift_content input{
    outline: 0;
}
.sift_content li{
    line-height: 40px;
    height: 40px;
    position: relative
}
.sift_content label{
    width: 70px;
    text-align: right;
    font-size: 12px;
    display: inline-block
}
.sift_content .date_input{
    position: absolute;
    left: 80px;
    top: 0;
    right: 0;
}
.sift_content .date_input input{
    display: inline-block;
    width: 40%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    background: rgba(238, 238, 238,0.3);
}
.sift_content .input_con{
    position: absolute;
    left: 80px;
    right: 0px;
    top:  5px;
}
.sift_content li .input_con > input ,.sift_content li .input_con > select{
    width: 85%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 10px;
    background: rgba(238, 238, 238,0.3);
}

.sift_content .search_sift {
    width: 200px;
    display: block;
    margin: 20px auto 0;
    background: #ff8111;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
    color: #fff;
}
.sift .sift_action{
    text-align: center
}
.sift_action  i{
    font-size: 16px;
    font-style: normal;
}
.sift_action i::after{
    content: '收起'
}
.sift_action.close i::after {
    content: '展开'
}

.list_item{
    margin: 10px auto;
    
}
.order_tips {
    line-height: 35px;
    background: #fff;
    margin: 0 10px;
    border-radius: 5px;
    text-indent: 7px;
}
.order_tips span{
    margin-right: 20px;
    font-size: 13px;
}
.order_tips span i{
    color: #f00;
    font-style:normal
}
 .order_list{
     margin: 15px auto;
 }
.order_list ul{
    padding: 0 10px;
}
.order_list li{
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.order_list dt{
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    margin-bottom: 8px;
}
.order_list dt span{ font-size: 16px;}
.order_list dt i{
    font-style: normal;
    float: right;
    font-size: 12px;
    color: #78db78;
}
.order_list dt  .order_cancel{
    color: #ff8111
}
.order_list dt  .order_back{
    color: #f00
}
.order_list dd{
    font-size: 12px;
    line-height: 22px;
    color: #666;
}
.order_list .prices{
    color: #ff8111;
    font-size: 14px;
}
.page{
    margin:  10px auto;
}
.tab  .tab_panel{
    display: none
}
.tab_panel > .table_item{
    background: #fff;
    padding: 10px;
}
.tab .panel-active {
    display: block
}
.tab .nav {
    height:45px;
    width: 100%;
    padding: 10px 0 0;
    -webkit-box-sizing: border-box;
    line-height: 35px;
    font-size: 15px;
    display: flex
}

.tab .nav .nav_item {
    flex: 1;
    width: 50%;
    color: #333;
    padding: 0;
    background: #fff;
    text-align: center;
}
.tab .nav .nav_item.nav-active {
    background: #46d264;
    color: #fff;
}

.no_order_info{
    margin: 20px auto;
}
.no_order_info img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.no_order_info p{
    line-height: 20px;
    font-size: 14px;
    color: #999;
    text-align: center
}