
html,body{
    height: 100%;
    background: #f0f0f0;
}
.tab  .tab_panel{
    display: none
}
.tab_panel > .table_item{
    padding: 10px;
}
.tab .panel-active {
    display: block
}
.tab .nav {
    height: 55px;
    width: 100%;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
    line-height: 35px;
    font-size: 15px;
    display: flex
}

.tab .nav .nav_item {
    flex: 1;
    width: 50%;
    color: #333;
    padding: 0;
    background: #fff;
    text-align: center;
}
.tab .nav .nav_item.nav-active {
    background: #F44336;
    color: #fff;
}
/* .list_info tr,.list_info th,list_info td{
    padding: 0;
    margin: 0;
}
.list_info{
    width: 100%;
}
.list_info th{
    background-color: #eee;
    border: 1px solid #eee;
    padding: 8px 2px;
    line-height: 18px;
    text-align: center;
    color: #333;
    font-size: 13px;
}
.list_info td {
    background-color: #fff;
    border: 1px solid #eee;
    padding: 7px 2px;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
} */
.list_info {
    padding: 0 10px;
}
.list_info  li{
    background: #fff;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 66px;
    font-size: 13px;
    position: relative;
}
.list_info .user_i{
    position: relative;
}
.list_info img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.list_info dt p{
    font-size: 16px;
}
.list_info  dd {
    height: 20px;
    color: #999;
}

.list_info  dd span i{
    color: #f60;
    font-style: normal;
}

.list_info  dd span:last-child{
    margin-left: 15px;
}