.editor_header{
    background:#d34201 url('../img/editor_22.jpg') no-repeat top center;
    background-size: cover;
    height: 3.5rem;
    position: relative
}
.editor_header img{
    width: 86px;
    border-radius: 50%;
    border: 1px solid #ccc;
    position: absolute;
    left: 50%;
    top: 75px;
    margin-top: -44px;
    margin-left: -44px;
}
.content{
    margin: 20px auto;
}
.content img{
    width: 60%;
    display: block;
    margin: 0 auto;
}
.content p {
    margin: 5px auto;
    text-align: center;
    color: #f60;
    font-size: 14px;
}