<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../js/flexible.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改资料</title>
    <link href="../css/common.css" type="text/css" rel="stylesheet" />
    <link href="../css/editor.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../icon/iconfont.css" />
</head>

<body>
    <div class="header">
        <a href="javascript:;" class="page_back"></a>
        <h3>修改资料</h3>
    </div>
    <div class="editor_header">
        <img src="../img/user.png" alt="">
    </div>
    <div class="content">
        <form action="">
            <ul>
                <li>
                    <label for="">真实姓名：</label>
                    <span><input type="text" name="name" /></span>
                </li>
                <li>
                    <label for="">收款码名称：</label>
                    <span><input type="text" name="code" /></span>
                </li>
                <li>
                    <label for="">店铺名称：</label>
                    <span><input type="text" name="cname" /></span>
                </li>
                <li>
                    <label for="">提现支付宝：</label>
                    <span><input type="text" name="alipay" /></span>
                </li>
            </ul>
            <input type="submit" class="sub" value="提交">
        </form>
        <div class="syt_tips">
            <h3> <i class="iconfont icon-gantanhao-xianxingyuankuang"></i> 系统提示</h3>
            <dl>
                <dt>选择以下方式</dt>
                <dd>1. 联系管理员</dd>
                <dd>2.扫描上级经理院队二维码</dd>
                <dd>3.您已经是会员且提现支付宝为邮箱</dd>
            </dl>
        </div>
    </div>
</body>

</html>