<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../js/flexible.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link href="../css/common.css" type="text/css" rel="stylesheet" />
    <link href="../css/my.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../icon/iconfont.css"  />
</head>
<body>
    <div class="main">
        <!-- <div class="header">
            <a href="javascript:void()" class="page_back"></a>
            <h3>个人中心</h3>
        </div> -->
        <div class="my_header">
            <div class="user">
                <img src="../img/user.png" />
                <dl>
                    <dt>帐号</dt>
                    <dd>18000000000</dd>
                </dl>
                <div class="operation">
                    <a href="#" class="editor iconfont icon-editor"></a>
                    <a href="#" class="setting iconfont icon-shezhi"></a>
                </div>
            </div>
            <ul class="accounts">
                <li>
                    <a href="">
                        <p>100.00</p>
                        <p>佣金</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>100.00</p>
                        <p>分润</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>100.00</p>
                        <p>余额</p>
                    </a>
                </li>
            </ul>
            <div class="my_order">
                <div class="order_header">
                    <h3 class="iconfont icon-wodedingdan">我的订单</h3>
                    <a href="#" class="more_order ">查看更多订单<i class="iconfont icon-enter"></i></a>
                </div>
                <ul class="myorder_list">
                    <li>
                        <a href="#">
                            <span class="iconfont icon-document">
                                <i class="num_icon">2</i>
                            </span>
                            <p>待付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconfont icon-document">
                            </span>
                            <p>已付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconfont icon-document">
                            </span>
                            <p>全部订单</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconfont icon-document">
                                
                            </span>
                            <p>收款码</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="list_items">
                <h3 class="list_header iconfont icon-document">自动回款订单
                    <span>系统费率：3.00</span>
                </h3>
                <ul class="listmenus">
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"><i class="num_icon">2</i></i>
                            <p>代付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"></i>
                            <p>代付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"></i>
                            <p>代付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"></i>
                            <p>代付款</p>
                        </a>
                    </li>
                </ul>
            </div>
             <div class="list_items">
                <h3 class="list_header iconfont icon-document">话费油卡订单
                   
                </h3>
                <ul class="listmenus">
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"><i class="num_icon">2</i></i>
                            <p>代付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"></i>
                            <p>已付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"></i>
                            <p>全部订单</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"></i>
                            <p>邀请码</p>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="bottom_items">
                <li>
                    <a href="#">
                        <i class="iconfont icon-cangkucangchu-xianxing "></i>
                        <span>我的商户</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-zhongzhuanzhan-xianxing"></i>
                        <span>商户入驻</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-manage"></i>
                        <span>全部商户</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-group"></i>
                        <span>团队成员</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="fixed_items">
            <ul>
                <li>
                    <a href="#">
                        <i class="iconfont icon-erweima"></i>
                        <p>收款码</p>
                    </a>
                </li>
                <li class="actives">
                    <a href="#">
                        <i class="iconfont icon-wodejuhuasuan"></i>
                        <p>个人中心</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-createtask"></i>
                        <p>体现记录</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/zepto.js"></script>
</body>
</html>