<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../js/flexible.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link href="../css/common.css" type="text/css" rel="stylesheet" />
    <link href="../css/dialog.css" type="text/css" rel="stylesheet" />
    <link href="../css/my.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../icon/iconfont.css"  />
</head>
<body>
    <div class="main">
        <!-- <div class="header">
            <a href="javascript:void()" class="page_back"></a>
            <h3>个人中心</h3>
        </div> -->
        <div class="my_header">
            <div class="user">
                <img src="../img/user.png" />
                <dl>
                    <dt>帐号</dt>
                    <dd>18000000000</dd>
                </dl>
                <div class="operation">
                    <a href="#" class="editor iconfont icon-editor"></a>
                    <a href="#" class="setting iconfont icon-shezhi"></a>
                </div>
            </div>
            <ul class="accounts">
                <li>
                    <a href="">
                        <p>100.00</p>
                        <p>佣金</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>100.00</p>
                        <p>分润</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <p>100.00</p>
                        <p>余额</p>
                    </a>
                </li>
            </ul>
            
        </div>
        <div class="content">
            <div class="my_order">
                <div class="order_header">
                    <h3 class="">我的订单</h3>
                    <a href="#" class="more_order ">查看更多订单<i class="iconfont icon-enter"></i></a>
                </div>
                <ul class="myorder_list">
                    <li>
                        <a href="#">
                            <span class="iconfont icon-pay">
                                <i class="num_icon">2</i>
                            </span>
                            <p>待付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconfont icon-send">
                            </span>
                            <p>已付款</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconfont icon-wodedingdan">
                            </span>
                            <p>全部订单</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="iconfont icon-erweima">
                            </span>
                            <p>收款码</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list_items">
                <h3 class="list_header ">自动回款订单 <span class="auto_order_rate iconfont icon-feedback" >费率</span>
                </h3>
                <!--  -->
                <ul class="listmenus">
                    <li class="cn_pay">
                        <a href="#">
                            <i class="iconfont icon-pay"><i class="num_icon">2</i></i>
                            <p>待付款</p>
                        </a>
                    </li>
                    <li class="cn_send">
                        <a href="#">
                            <i class="iconfont icon-send"></i>
                            <p>已付款</p>
                        </a>
                    </li>
                    <li class="cn_wddd">
                        <a href="#">
                            <i class="iconfont icon-wodedingdan"></i>
                            <p>全部订单</p>
                        </a>
                    </li>
                    <li class="cn_codes">
                        <a href="#">
                            <i class="iconfont icon-erweima"></i>
                            <p>收款码</p>
                        </a>
                    </li>
                </ul>
            </div>
             <div class="list_items">
                <h3 class="list_header">话费油卡订单
                        <span class="phone_order_rate iconfont icon-feedback" >费率</span>
                    <a href="#" class="editor_order ">修改<i class="iconfont icon-enter"></i></a>
                </h3>
           
                <ul class="listmenus">
                    <li class="cn_pay">
                        <a href="#">
                            <i class="iconfont icon-pay"><i class="num_icon">2</i></i>
                            <p>待付款</p>
                        </a>
                    </li>
                    <li class="cn_send">
                        <a href="#">
                            <i class="iconfont icon-send"></i>
                            <p>已付款</p>
                        </a>
                    </li>
                    <li class="cn_wddd">
                        <a href="#">
                            <i class="iconfont icon-wodedingdan"></i>
                            <p>全部订单</p>
                        </a>
                    </li>
                    <li  class="cn_codes">
                        <a href="#">
                            <i class="iconfont icon-barcode"></i>
                            <p>邀请码</p>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="bottom_items">
                <li>
                    <a href="#">
                        <i class="iconfont icon-cangkucangchu-xianxing "></i>
                        <p>我的商户</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-zhongzhuanzhan-xianxing"></i>
                        <p>商户入驻</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-manage"></i>
                        <p>全部商户</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="iconfont icon-group"></i>
                        <p>团队成员</p>
                    </a>
                </li>
            </ul>
        </div>
        <div id="fixed_body" style="height:55px">
            <div class="fixed_items">
                <ul>
                    <li>
                        <a href="#">
                            <i class="iconfont icon-erweima"></i>
                            <p>收款码</p>
                        </a>
                    </li>
                    <li class="actives">
                        <a href="#">
                            <i class="iconfont icon-wodejuhuasuan"></i>
                            <p>个人中心</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="iconfont icon-createtask"></i>
                            <p>体现记录</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
    <script src="../js/zepto.js"></script>
    <script src="../js/dialog.js"></script>
    <script>
        
        function showDialog(context){
            var dias = $.dialog({
                autoOpen: true,
                closeBtn: false,
                width:200,
                maskClick:function(){
                    setTimeout(function(){
                        dias.close()
                    },10)
                },
                afterClose:function(){
                    setTimeout(function(){
                        dias.close()
                    },10)
                },
                content: context
            });
        }

        $('.auto_order_rate').on('click',function(){
            showDialog('<div style="font-size:14px;line-height:26px;color:#e44747">\
                    <p>小额口碑费率[2.0]</p>\
                    <p>大额分期费率[3.0]</p>\
                    <p>信用POS费率[0.8]</p>\
                </div>')
        })

        $('.phone_order_rate').on('click',function(){
            showDialog('<div style="font-size:14px;line-height:26px;color:#e44747">\
                    <p>小额口碑费率[2.0]</p>\
                    <p>大额分期费率[3.0]</p>\
                    <p>信用POS费率[0.8]</p>\
                </div>')
        })
    </script>
</body>
</html>