<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../js/flexible.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的团队</title>
    <link href="../css/common.css" type="text/css" rel="stylesheet" />
    <link href="../css/tab.css" type="text/css" rel="stylesheet" />
    <link href="../css/my_team.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../icon/iconfont.css"  />
</head>
<body>
    <div class="header">
        <a href="javascript:void()" class="page_back"></a>
        <h3>我的团队</h3>
    </div>
    <div class="content">
        <div class="tab">
            <ul class="nav clearfix ">
                <li class="nav_item">经理成员</li>
                <li class="nav_item">员工成员</li>
            </ul>
            <div class="tab_panel">
               <div class="table_item"> 
                    <table class="list_info">
                        <tbody>
                            <tr>
                                <th>头像</th>
                                <th>昵称</th>
                                <th>刷码费率</th>
                                <th>分润率</th>
                                <th>订单量</th>
                                <th>总金额</th>
                            </tr>
                            <tr>
                                <td><img src="../img/user.png" alt=""></td>
                                <td>帅哥</td>
                                <td>10%</td>
                                <td>10%</td>
                                <td>30</td>
                                <td>¥20</td>
                            </tr>
                            <tr>
                                <td><img src="../img/user.png" alt=""></td>
                                <td>帅哥</td>
                                <td>10%</td>
                                <td>10%</td>
                                <td>30</td>
                                <td>¥20</td>
                            </tr>
                            <tr>
                                <td><img src="../img/user.png" alt=""></td>
                                <td>帅哥</td>
                                <td>10%</td>
                                <td>10%</td>
                                <td>30</td>
                                <td>¥20</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="page">
                    <a href="#" class="page_btn">上一页</a>
                    <a href="#" class="page_num">1</a>
                    <a href="#" class="page_num">2</a>
                    <a href="javascript:;" class="page_num page_active">3</a>
                    <a href="#" class="page_num">4</a>
                    <a href="#" class="page_num">5</a>
                    <a href="#" class="page_btn">下一页</a>
                </div>
            </div>
            <div class="tab_panel">
                <div class="no_result">
                    <img src="../img/icon_no_result.png" alt="" />
                    <p>暂无数据，请稍后再试~</p>
                </div>

            </div>
        </div>
    </div>
    <script src="../js/zepto.js"></script>
    <script src="../js/tab.js"></script>
    <script>
        $('.tab').tab({
            nav: '.nav_item',
            panel:'.tab_panel',
        })
    
    </script>
</body>
</html>