<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
        <script src="../js/flexible.js"></script>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>我的团队</title>
        <link href="../css/common.css" type="text/css" rel="stylesheet" />
        <!-- <link href="../css/my_team.css" type="text/css" rel="stylesheet" /> -->
        <link rel="stylesheet" href="../icon/iconfont.css"  />
        
    </head>
</head>
<body>
    <div class="header">
        <a href="javascript:void()" class="page_back"></a>
        <h3>扫码支付</h3>
    </div>
    <div style="margin:20px auto;">
        <div class="no_result">
            <img src="../img/icon_no_result.png" alt="" />
            <p>您现在没有订单，赶快去逛一逛下单！~</p>
        </div>
    </div>
</body>
</html>