<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../js/flexible.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>收银台</title>
    <link href="../css/common.css" type="text/css" rel="stylesheet" />
    <link href="../css/pay.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../icon/iconfont.css"  />
</head>
<body>
    
    <div class="header">
        <a href="javascript:;" class="page_back"></a>
        <h3>收银台</h3>
    </div>
    <div class="content_c">
        <div class="desc">
            <p>毛豆粑粑[自动回款]收银台</p>
        </div>
        <div class="enter_price">
            <dl>
                <dd class="price_item">
                    <label for="">¥</label>
                    <input type="number" name="price" placeholder="请输入金额" />
                </dd>
                <dd class="dest_item">
                    本平台禁止刷单/代付
                </dd>
            </dl>

        </div>
        <div class="pay_list paylist2">
            <h3>支付方式 <a class="change_pay" href="#">重新选择</a> </h3>
            <ul>
                <li>
                    <a href="#">
                        <p><i  class="iconfont icon-31huabei"></i>
                            <span>小额花呗</span>
                        </p>
                    </a>
                </li>
            </ul>
        </div>

        <div>
            <a href="#" class="sub_pay">确认付款</a>
        </div>
    </div>
</body>
</html>