<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <script src="../js/flexible.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link href="../css/common.css" type="text/css" rel="stylesheet" />
    <link href="../css/receipt_code.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="../icon/iconfont.css"  />
</head>
<body>
    <div class="header">
        <a href="javascript:;" class="page_back"></a>
        <h3>扫码支付</h3>
    </div>
    <div class="editor_header">
        <img src="../img/user.png" alt="">
    </div>
    <div class="content">
        <img src="../img/code.png" alt="">
        <p>扫码二维码付款</p>
    </div>
</body>
</html>